{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false,
            "globalReturn": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "browser": true,
        "jasmine": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base"
    ],
    "rules": {
        "no-invalid-this": "warn",
        "no-underscore-dangle": "off",
        "indent": ["warn", 4],
        "brace-style": ["error", "stroustrup"],
        "max-len": ["error", 120],
        "import/prefer-default-export": "off",
        "line-break-style": "off"
    }
}