{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "max-len": "off",
    "brace-style": ["error", "stroustrup"],
    "indent": ["error", 4],
    "prefer-promise-reject-errors": "off",
    "prefer-rest-params": "off"
  }
}